* {
  margin: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header {
  width: 100%;
  height: 60px;
  background-color: #f8462f;
  margin: auto;
}

#header .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 17px;
  padding: 5px;
  margin: 0 auto;
}

#header .header_nav .header_link .header_link_home, #header .header_nav .header_admin .header_link_home, #header .header_nav .header_admin .header_link_admin {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

#header .header_nav .header_link :hover, #header .header_nav .header_admin :hover {
  font-size: 18px;
  font-weight: 500;
}

#header .header_nav #selectStyle {
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 0 10px;
  border: 1px solid #f8462f;
  background-color: #f8462f;
  cursor: pointer;
}

#header .header_nav #selectStyle option {
  background-color: #fff;
  color: #000;
}

#header .header_nav #selectStyle option :hover {
  color: #f8462f;
}

#header .header_nav .header_search .txtSearch {
  width: 400px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 0 10px;
}

#header .header_nav .header_search .btnSearch {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #f8462f;
  border-radius: 3px;
  border: 1px solid #f8462f;
}

#header .header_nav .header_search .btnSearch .fa {
  color: #fff;
  font-size: 20px;
}

#header .header_nav .header_search .btnSearch :hover {
  font-size: 23px;
}

#header .header_nav .header_cart .header_cart_link {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

#header .header_nav .header_cart .header_cart_link .header_cart_amount {
  font-size: 20px;
}

#header .header_nav .header_cart .header_cart_link .fa {
  font-size: 30 px;
}
/*# sourceMappingURL=index.css.map */