* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}
// style header
#header {
    width: 100%;
    height: 60px;
    background-color: #f8462f;
    margin: auto;
    // header
    .header_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        font-size: 17px;
        padding: 5px;
        margin: 0 auto;
        //link Trang chủ
        .header_link {
            .header_link_home {
                text-decoration: none;
                color: #fff;
                font-weight: 400;
            }
            :hover {
                font-size: 18px;
                font-weight: 500;
            }
        }
        // link trang admin
        .header_admin {
            @extend .header_link;
            .header_link_admin {
                @extend .header_link_home;
            }
        }

        // Loại sản phẩm
        #selectStyle {
            width: 200px;
            height: 40px;
            color: #fff;
            border-radius: 3px;
            border: 1px solid #fff;
            padding: 0 10px;
            border: 1px solid #f8462f;
            background-color: #f8462f;
            cursor: pointer;
            option {
                background-color: #fff;
                color: #000;
        }
        // Tìm kiếm
        .header_search {
            .txtSearch {
                width: 400px;
                height: 40px;
                border-radius: 3px;
                border: 1px solid #fff;
                padding: 0 10px;
            }
            .btnSearch {
                width: 40px;
                height: 40px;
                text-align: center;
                background-color: #f8462f;
                border-radius: 3px;
                border: 1px solid #f8462f;
                .fa {
                    color: #fff;
                    font-size: 20px;
                }
                :hover {
                    font-size: 23px;
                }
            }
        }
        // Shop cart
        .header_cart {
            .header_cart_link {
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                .fa {
                    font-size: 30 px;
                }
            }
        }
    }
}
